.div_portfolio{
    margin: 2rem 0;
}

.about_project_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.3rem;
    /* width: 900px; */
}

.info_about_project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 882px;
    padding-left: 0.7rem;
}

.div_project{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.about_project{
    text-align: center;
    margin-bottom: 1rem;
}

.about_project_title{
    font-size: 1.3rem;
}

.flexbox_image-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    flex-basis: 1550px;
}

/* Adding some margin on the images */
.class_image {
    margin: 10px;
}

.big_image_class{
    display: flex;
    justify-content: center;
}


/* Adding some border, filter and color to the big image */
.b_image {
    border: 4px solid var(--second_color);
    color: #000;
    filter: saturate(10%);
    width: 1100px;
}

/* Adding the figcaption inside the big image and adding some background color, width, margin-top negative and padding */
.big-image-text {
    position: absolute;
    background-color: var(--second_color);
    width: 185px;
    margin-top: -100px;
    padding: 10px;
    z-index: 100;
    text-align: left;
}

/* Adding some border, filter and color to the small images*/
.s_image {
    border: 4px solid var(--second_color);
    color: #000;
    filter: saturate(10%);
    width: 550px;
}

/* Adding the figcaption inside the small images and adding some background color, width, margin-top negative and padding */
.small-image-text {
    position: absolute;
    background-color: var(--second_color);
    width: 150px;
    margin-top: -52px;
    padding: 2px;
    z-index: 100;
}

/* Giving filter to the images when you pass the mouse */
.glow:hover {
    filter: saturate(1);
}