:root {
  --first_color: white;
  --second_color: rgb(168, 58, 135);
  --third_color: rgb(60, 31, 107);
  --images_small_wid: 200px;
}

.footer_div {
  background-color: var(--second_color);
  /* padding: 0.5rem; */
}

footer {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  background-color: var(--second_color);
}

/* Adding display flex, basis size, row nowrap, space-evenly, alignning the items to the center, and changing the font-size of the "footer_informations" class */
.footer_informations {
  display: flex;
  flex-basis: 2200px;
  flex-flow: row nowrap;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  flex-wrap: wrap;
}

#title_footer{
    color: white;
    font-size: 2.5rem;
    padding-top: 0.6rem;
}

/* Adding margin, color, border and taking out all the text decorations on the anchors on the "footer_information" class */
.footer_informations a {
  color: white;
  margin: 0.3em;
  padding: 1em;
  text-decoration: none;
  border-bottom: 4px solid var(--second_color);

  transition: color 0.3s;
}

/* Changing the color of the anchor on the "footer_information" class to blue when pass the mouse in */
.footer_informations a:hover {
  color: rgba(235, 235, 235, 0.74);
}
